html {
  font-size: 20px;
}

.imagetext {
    position: relative;
    text-align: center;
  /*  overflow: hidden;*/
}
.text {
    position: absolute;
    bottom: 80%;
    left: 15%;
    font-size:40px;
    color: red;
}

/* Add the .blur and .blurry styles here */
.blur {
    overflow: hidden;
    position: relative;
}

    .blur img {
        
        width: 100%;
        height: 100%;
    }

.blurry {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

    .blurry.alt {
        right: auto;
        left: 0;
    }

    .blurry.middle {
        right: 50%;
        transform: translateX(50%);
    }


/* Styles for the modal on homepage*/
.center-div {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    color: #333;
    max-height: 80vh;
    max-width: 80vw;
    overflow-y: auto;
}

/* Close button styles */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.buttons button {
    font-size: 0.9em; /* Adjust the font size */
    padding: 15px 30px; /* Adjust the padding */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #0056b3;
}

/* Dropdown menu styles */
.dropdown-menu {
    background-color: #f8f9fa;
    border: none;
    border-radius: 0;
    box-shadow: none;
    
}

.dropdown-item {
    color: #212529;
}

    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: #e9ecef;
    }

.dropdown-divider {
    border-color: #e9ecef;
}

.flex {
    display: flex;
}

.flex-column {
    flex: 1;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    list-style:none;
}

.FormContent {
    position: relative;
    bottom: 30px;
    padding: 10px;
    margin: auto;
    width: 95%;
    text-align: center;
    justify-content: center;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px;
    background-color: #f2f2f2;
}

/* Add styles for the legend, headings, and links as needed */
.flex p {
    font-weight: bold;
}

.flex-item a {
    text-decoration: none;
    font-weight:bold;
    color: red; /* Customize the link color */
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


body {
    margin-bottom: 60px;
}

.enlarged-text {
    font-size: 1.6em;
}

.enlargePage {
    zoom: 1.6;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1000; /* Ensure it's on top of other elements */
}


