/*VisuallyImpaired/Index*/


@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(//fonts.googleapis.com/css?family=Oswald:400);

html {
    font-size: 15px;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

h4 {
    margin: 5px;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* Styling for the search bar and icon*/
.search-wrapper {
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #555;
    Icon color
}

#search {
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #f2f2f2;
    width: 250px;
    margin-right: 15px;
}

Additional styling for the search bar in collapsed mode
.navbar .search-wrapper.collapsed {
    justify-content: flex-end;
}

.navbar .search-wrapper.collapsed #search {
    width: 0;
    padding: 0;
    opacity: 0;
}

/*Transaction history*/
/* Flex table styles */
.flex-table {
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header styles */
.flex-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #333;
}

.filter-btn {
    padding: 1px 15px;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

    .filter-btn.active {
        background-color: #3498db;
        color: white;
    }

    .filter-btn:not(.active):hover {
        background-color: #ddd;
    }

/* Row and cell styles */
.header {
    display: flex;
    border-bottom: 1px solid #333;
}

    .header > .flex-cell {
        font-weight: bold;
    }


    .header:last-child {
        border-bottom: none;
    }

.flex-row {
    display: flex;
    border-bottom: 1px solid #333;
}

    .flex-row.header > .flex-cell {
        font-weight: bold;
    }


    .flex-row:last-child {
        border-bottom: none;
    }

.flex-cell {
    flex: 1;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Income and expense styles */
.income {
    color: #2ecc71;
    font-weight: bold;
}

.expense {
    color: #e74c3c;
    font-weight: bold;
}

/* Styles for specific columns */
.flex-cell:nth-child(1) {
    flex: 1; /* Adjust width of the Date column */
}

.flex-cell:nth-child(2) {
    flex: 1; /* Adjust width of the Description column */
    text-transform: capitalize;
}

.flex-cell:nth-child(3) {
    flex: 1; /* Adjust width of the Amount column */
}

footer {
    background-color: #777;
    padding: 5px;
    text-align: center;
    color: white;
    position: relative;
    top: 40px;
}

/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #f3f33;
    border: 2px solid #333 !important;
}

    .widget.income > div:first-child {
        color: #65da41;
    }

    .widget.expense > div:first-child {
        color: #ff4e48;
    }

    .widget.balance > div:first-child {
        color: #2aa1ff;
    }

    .widget.chart {
        padding: 10px;
    }

/*functions*/
.enlarged-text {
    font-size: 1.6em;
}

.enlargePage {
    zoom: 1.6; /* Adjust the zoom factor as needed */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}


.animated-button {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 1000;
    transition: transform 0.2s ease-in-out;
    color: red !important;
    font-weight: bold;
    background-color: #f3f3f3;
}

    .animated-button:hover {
        transform: scale(1.1);
        color: #f3f3f3 !important;
        font-weight: bold;
        background-color: red;
    }