html {
    font-size: 15px;
}

/* Styling for the search bar and icon */
.search-wrapper {
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #555; /* Icon color */
}

#search {
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #f2f2f2;
    width: 250px;
    margin-right: 15px;
}

/* Additional styling for the search bar in collapsed mode */
.navbar .search-wrapper.collapsed {
    justify-content: flex-end;
}

    .navbar .search-wrapper.collapsed #search {
        width: 0;
        padding: 0;
        opacity: 0;
    }

:root {
    --link-color: #fff;
    --body-color: #b1b8b9;
    --body-bgcolor: #051b21;
    --line-step-color: #b1b8b9;
    --primary-color: #234545;
    --active-step-color: #fff;
    --active-step-bgcolor: #72c000;
    --notice-color: #62a909;
}

/* text align */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/* stye form */
.transfer-form {
    width: 100%;
}

.form-step-list {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .form-step-list::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 14px;
        width: 100%;
        height: 1px;
        background: var(--line-step-color);
    }

.form-step-item {
    font-size: 12px;
}

.form-step-list .form-step-item .item__step {
    display: inline-block;
    border: 1px solid var(--line-step-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: var(--primary-color);
}

.form-step-list .form-step-item.active .item__step {
    color: var(--active-step-color);
    background: var(--active-step-bgcolor);
}

.form-group__notice {
    position: absolute;
    right: 0;
    top: 100%;
    font-size: 13px;
    color: var(--notice-color);
}

.form-group.step-content {
    display: none;
}


.form-step-list {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .form-step-list::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 14px;
        width: 100%;
        height: 1px;
        background: var(--line-step-color);
    }

.form-step-item {
    font-size: 12px;
}

.form-step-list .form-step-item .item__step {
    display: inline-block;
    border: 1px solid var(--line-step-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background: var(--primary-color);
}

.form-step-list .form-step-item.active .item__step {
    color: var(--active-step-color);
    background: var(--active-step-bgcolor);
}

.form-group__notice {
    position: absolute;
    right: 0;
    top: 100%;
    font-size: 13px;
    color: var(--notice-color);
}


.form-layout {
    border: none;
    padding: 0;
    padding: 10px 0;
    position: relative;
    clear: both;
}

.form-group.step-content {
    display: none;
}

    .form-group.step-content label {
        display: block;
        text-transform: uppercase;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 5px;
        font-weight: bold;
        text-align: center;
    }

    .form-group.step-content select,
    .form-group.step-content input {
        width: 100%;
        height: 38px;
        color: #333333;
        padding: 10px;
        border-radius: 5px;
        font-size: 15px;
        margin-bottom: 5px;
        outline: none !important;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    }

    .form-group.step-content p {
        text-align: center;
        padding: 10px;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .form-group.step-content img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
