<nav class="navbar navbar-expand-md">

    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="~/Home/Index">
        <img src="../img/logo_ocbc.png" width="200" height="50" />
    </a>

    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#masterNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>