@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />

    <title>OCBC</title>

    <!-- Reference to customized styling for this website -->
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" type="text/css" href="~/css/login(VI).css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Bootstrap JavaScript (Popper.js is required for dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</head>
<body>
    <header>
        @await Html.PartialAsync("_navbar.cshtml")
    </header>
    <div class="login-page">
        <div class="form">
            <h4><b>Online Banking</b></h4>
            <form class="login-form">
                <input type="text" placeholder="Access Code" />
                <input type="password" placeholder="PIN" />
                <button>login</button>
                <p class="message"><a href="#"><u>No Access Code/PIN? Click here.</u></a></p>

                <p class="message">Don't have an Online Banking? <a href="#">Sign Up Now.</a></p>

            </form>
        </div>
    </div>
</body>
</html>

