<!-- A narrator-friendly navigation bar that expands horizontally at medium devices -->
<nav class="navbar navbar-expand-md">

    <!-- The brand(or icon) of the navbar -->
    <a class="navbar-brand" href="~/VisuallyImpaired/Index" style="margin-left:30px;">
        <img src="../img/logo_ocbc.png" width="150" height="40" alt="OCBC Logo"/>
    </a>

    <!-- Toggle/collapsible Button, also known as hamburger button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#masterNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links in the navbar, displayed as drop-down list when collapsed -->
    <div class="collapse navbar-collapse" id="masterNavbar">
        <!-- Links that are aligned to the left,
        me-auto: margin-end, i.e., right margin, auto-adjusted -->
        <ul class="navbar-nav mx-3" style="margin:15px;">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Account</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                    <li><a class="dropdown-item" href="../VisuallyImpaired/Unknown">Cards</a></li>
                    <li><a class="dropdown-item" href="#">Change Access Code/Pin</a></li>
                    <li><a class="dropdown-item" href="#">Report Lost</a></li>
                    <li><a class="dropdown-item" href="#">Change address</a></li>
                    <li><a class="dropdown-item" href="#">Update Phone Number/Email</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Payments</b>
                </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                    <li><a class="dropdown-item" href="../VisuallyImpaired/Transfer">Transfer</a></li>
                    <li><a class="dropdown-item" href="#">Manage PayNow</a></li>
                    <li><a class="dropdown-item" href="#">Manage OCBC OneTouch</a></li>
                    <li><a class="dropdown-item" href="#">Manage transaction limits</a></li>
                    <li><a class="dropdown-item" href="#">Manage UnionPay</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <b>Card Services</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                    <li><a class="dropdown-item" href="../VisuallyImpaired/CardActivation">Card Activation</a></li>
                    <li><a class="dropdown-item" href="#">Replace Card</a></li>
                    <li><a class="dropdown-item" href="#">Reset card Pin</a></li>
                    <li><a class="dropdown-item" href="#">Manage overseas card usuage</a></li>
                    <li><a class="dropdown-item" href="#">Link/delink accounts</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                @Html.ActionLink("Logout", "Index", "Home", new { area = "" }, new { @class = "nav-link", style = "font-weight:bold; color:#990000" })
            </li>
        </ul>
    </div>

    <div class="search-wrapper">
        <i class="search-icon bx bx-search" aria-hidden="true"></i>
        <input type="search" id="search" data-search placeholder="Search" aria-label="Search">
    </div>
</nav>
