@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8">

    <!-- Set the initial view zooming scale for mobile device -->
    <meta name="viewport" content="width = device-width,
 initial-scale = 1" />

    <title>OCBC</title>

    <!-- Reference to customized styling for this website -->
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" type="text/css" href="~/css/homepage.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Bootstrap JavaScript (Popper.js is required for dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>

  
</head>
<body>
    <header>
        @await Html.PartialAsync("Navbar.cshtml")
    </header>
    <div class="imagetext">
        <div class="blur">
            <img src="~/img/home_img.jpg" alt="Blurred Image" />
            <div class="text"><b>Welcome to OCBC</b></div>
        </div>
    </div>
    <fieldset class="FormContent">
        <legend>Popular features</legend>
        <div class="flex">
            <div class="flex-column">
                <p><b>Banking for Individual</b></p>
                <li class="flex-item"><a href="#">FRANK by OCBC</a></li>
                <li class="flex-item"><a href="#">Personal Banking</a></li>
                <li class="flex-item"><a href="#">Premier Banking</a></li>
                <li class="flex-item"><a href="#">Premier Private Client</a></li>
            </div>
            <div class="flex-column">
                <p><b>Banking for Businesses</b></p>
                <li class="flex-item"><a href="#">Business Banking</a></li>
                <li class="flex-item"><a href="#">Large Corporates</a></li>
            </div>
            <div class="flex-column">
                <p><b>OCBC Group</b></p>
                <li class="flex-item"><a href="#">About us</a></li>
                <li class="flex-item"><a href="#">Sustainability</a></li>
                <li class="flex-item"><a href="#">Careers</a></li>
                <li class="flex-item"><a href="#">Investors</a></li>
            </div>
        </div>
    </fieldset>

    


    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script>

        var messages = ['🔊 Hey', '🔊 Hi, there!', '🔊 Hi!', '🔊 Hello'];

        if(annyang){
            

            

            var commands = {
                'Hello' : hello,
                'Go to login page': goToLoginPage
            }

            function hello() {
                var messages = ['Hey', 'Hi, there!','Hello'];
                var randomIndex = Math.floor(Math.random() * messages.length);
                var message = messages[randomIndex];

                console.log(`%c ${message}`, 'color: green; font-weight:bold;');

                // Use the Web Speech API to respond with spoken text
                var speechSynthesis = window.speechSynthesis;
                var speech = new SpeechSynthesisUtterance(message);
                speech.volume = 1; // Adjust volume
                speech.rate = 1; // Adjust speaking rate

                // Start speech synthesis
                speechSynthesis.speak(speech);
            }

            

            function goToLoginPage() {
                // Redirect to the login page
                window.location.href = '/Home/Login';
            }

            

            // Add Commands
            annyang.addCommands(commands);

            // Start listening
            annyang.start();

        }

    </script>

    
</body>
</html>


